
/* GLOBAL */
img{
  width: 100%;
  height: 100%;
}

/* CARD CUSTOMISE */
a.card{
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a.card:hover{
  background-color: aliceblue;
  box-shadow: none!important;
}


/* PARAGRAPH LINE LIMIT */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/* CUSTOMIZATION */

#beer-tabs .nav-link {
  color: #b2b2b2!important;
  font-weight: 500;
}
#beer-tabs .nav-link.active {
  color: #000!important;
}

